
        .image-container {
    position: relative;
    /* width: 300 px; */
     /* Set your image width */
    height: 300px;
     /* Set your image height */
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgb(11, 44, 113);
    
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-box {
    position: absolute;
    bottom: -45%; /* Initially hide the info box below the image */
    left: 0;
    width: 100%;
    /* background-color: #0063C6; */
    /* color: #fff; */
    background-color: white;
    padding: 0px 20px 0px 20px;
    transition: bottom 0.3s ease;
}
@media only screen and (max-width: 300px) {
  .info-box {
  
    bottom: -140px !important; /* Initially hide the info box below the image */
 
    /* color: #fff; */
background-color: white;
    padding: 0px 20px 0px 20px;
    
}
.image-container:hover .info-box {
    bottom: 0 
    !important;
      border-radius: 0 !important;
     /* Move the info box up when the container is hovered */
}
.image-container:hover .image{
    padding-bottom: 80px !important;
      transition: all linear 0.3s !important;
     
    
}
.image-container:hover {
     border-radius: 0;
}
 .image{
     transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.infobtn{
background-color: rgb(11, 44, 113) !important;

}
}
@media only screen and (max-width: 600px) {
  .info-box {
  
    bottom: -120px; /* Initially hide the info box below the image */
 
    /* color: #fff; */
background-color: white;
    padding: 0px 20px 0px 20px;
    
}
}
@media only screen and (min-width: 768px) {
  .info-box {
  
    bottom: -70%; /* Initially hide the info box below the image */
 
    /* color: #fff; */
background-color: white;
    padding: 0px 20px 0px 20px;
    
}
}
@media only screen and (min-width: 1024px) {
  .info-box {
  
    bottom: -130px; /* Initially hide the info box below the image */
 
    /* color: #fff; */
background-color: white;
    padding: 0px 20px 0px 20px;
    
}
}
@media only screen and (min-width: 820px)  {
  .infobtn{ 
  
 display: flex !important ;
 justify-content: space-around;
 
   
  
    
}
}



.image-container:hover .info-box {
    bottom: 0;
      border-radius: 0;
     /* Move the info box up when the container is hovered */
}
.image-container:hover .image{
    padding-bottom: 80px;
      transition: all linear 0.3s;
     
    
}
.image-container:hover {
     border-radius: 0;
}
 .image{
     transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.infobtn{
background-color: rgb(11, 44, 113) !important;

}



.image-container:hover .heading {
    /* display: none;  */
    /* Hide the heading when the container is hovered */
}
.fontc{
    color: rgb(11, 44, 113);
}
.bgc{
    background-color:#0063C6 ;
}

@font-face {
    font-family:graphie;
    src: url(property_types/fonts/graphie/Graphie-Book.otf);
}

   .font{
       font-family: 'Antonio', sans-serif;
font-family: 'Pathway Gothic One', sans-serif;
}
.tfont{
        font-family:graphie;
}
.prefont{
    font-size: 14px;
}





